<div ng-controller="BudgetController">
  <form>
    <div>
      Gross Annual Salary: <input id="gross_annual_salary"
                                  name="gross_annual_salary"
                                  ng-model="budget.gross_annual_salary"
                                  type="text"/>
    </div>
    <div>
      Annual Savings Goal: <input id="annual_savings_goal"
                                  name="annual_savings_goal"
                                  ng-model="budget.annual_savings_goal"
                                  type="text"/>
    </div>
    <div class="weekly_allowance">Weekly Allowance : <span>{{weekly_allowance | currency}}</span></div>
    <input type="button"
           name="save_button"
           value="Save"
           ng-click="save();"/>
  </form>
</div>
